{{!-- <form action="/auth/login" method="POST">
   <label> Username
      <input type="text" name="username">
   </label>
   <label> Password
      <input type="password" name="password">
   </label>

   <button type="submit">Submit</button>
</form>
 --}}

   
<div class="login-page">
   <div class="container-login">
   <div class="container-acceso d-flex flex-column justify-content-around text-center">
      <div class="title d-flex align-items-center mt-1">
         <h2 class="px-3">Iniciar sesión</h2>
      </div>
      <div>
         <form class="d-flex flex-column justify-content-center" 
               action="/auth/login" method="POST">
            <label class="user-password-labels mb-2">
               <span class="fas fa-user"></span>
               <input required type="text required" name="username">
            </label>
            <label class="user-password-labels mb-4 ">
               <span class="fas fa-key"></span>
               <input required type="password" name="password">
            </label>
            <div class="d-flex align-items-center justify-content-center">
               <button class="mx-3 btn btn-light"  type="submit">Log In</button>
            </div>
         </form>
               {{#if errorMessage}}
                 <div class="mx-2 b-2 p-2">
                   {{errorMessage}}
                 </div> 
              {{/if}}
      </div>
      <div>
         <p>¿No tienes una cuenta? 
            <a href="/auth/signup">Regístrate</a>
         </p>
      </div>

   </div>
  </div>
</div>