<div class="ppal-page">
    <div class="index-description col-12 p-md-5 d-flex text-center justify-content-center align-items-center">
        <div class="col-md-6  mx-auto p-md-4">
            <h1 class="display-4 font-weight-normal p-3">SongxLy</h1>
            <p class="lead font-weight-normal">La web que te permite buscar las letras de tus canciones favoritas y guardarlas para no perderlas.</p>
        </div>
    </div>

    <div class ="index-page d-flex justify-content-around col-12">
        <div class="index-search position-relative col-4 p-4 m-3 text-center d-flex justify-content-center align-items-center">
            <div class="col-6  text-center w-75" >
                <h1 class="display-3 font-weight-normal py-4">Letras de canciones</h1>
                <p class="lead font-weight-normal">Encuentra las letras de canciones de tus artistas favoritos</p>
                <a class="btn btn-outline-secondary w-50 rounded-pill m-3" href="/search">Buscar</a>
            </div>
        </div>

        <div class="index-login position-relative col-4 p-4 m-3 text-center d-flex justify-content-center align-items-center">
            <div class="col-6  text-center w-75">
                <h1 class="display-3 font-weight-normal py-4">Accede a tu perfil</h1>
                <p class="lead font-weight-normal">Guarda tus canciones favoritas y accede a sus letras cuando quieras. ¡Es gratis!</p>
                <div class="d-flex justify-content-center">
                    <a class="btn btn-outline-secondary w-50 rounded-pill m-3" href="auth/login">Inicia Sesión</a>
                    <a class="btn btn-outline-secondary w-50 rounded-pill m-3" href="auth/signup">Regístrate</a>
                </div>
            </div>
        </div>
    </div>
</div>

{{#if user}}
    <p class="hide" id="check-user">true</p>
{{/if}}