* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif

}

  body {
  min-height: 99vh; 
  background-color: rgb(223, 159, 75);
}  
.hide{
    display:none
}

/* .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
} */

/* @media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
} */

/* .container {
    max-width: 960px;
} */

input {
    padding: 15px;
}

/* Layaut */

.site-header {
    background-color: #61053F;
   /*  position: fixed; */
/*     -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px) */;
}

.site-header a {
    color: rgb(214, 214, 214);
    text-decoration: none;
    /* transition: color .15s ease-in-out; */
}

.site-header a:hover {
    color: #fff;
    text-decoration: none;
}

footer .icon{
    color: rgba(255, 255, 255, 0.493);
    text-decoration: none;
}
footer .icon:hover {
    color:white;
    text-decoration: none;

}

/* INDEX VIEW */

 .ppal-page {

   height: 90vh;
   background-size: cover;
   display: flex;
   flex-direction:column;

} 

.index-description {
    background-image: url(../images/bg-luces.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 50%
}


.index-description p {
    font-size: 27px;
}
.index-page {
    background-image: url(../images/bg-auriculares.jpeg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 50%;

}


/* .index-search{
    background-image: url(../images/abstract-yellow.jpeg);
    background-size: cover;
} */

/* .index-login {
  background-color: #FFD399;
} */

/* SEARCH VIEW */
.search-page{
        background-image: url(/images/bg-abstract-blue.jpeg); 
        height: 90vh;
        background-size: cover;
      }

.search-page form {
    padding: 30px;

}
.search-page input{
    width: 400px;
    height: 50px;
    border-radius: 20px;
}

.search-page h2{
    font-size: 62px;
}

.search-page button{
    width: 50px;
    height: 50px;
    background-color: rgb(98,32,70);
    color: white
}

.search-page button:hover{
    color:rgb(98,32,70);
}
      
      /* .pag-ppal a{
        border: 1px solid black;
        margin: 30px;
      }
      .pag-ppal h1{
        font-size: 8em;
      } */
      

/* ARTISTS VIEW */
.artists-page,
.albums-page,
.tracks-search-page {
background-color: rgba(255, 255, 255, 0.658);
padding: 20px;
}

.artists-page h2, .albums-page h2, .tracks-page h2, .tracks-search-page h2 {
    padding: 30px 0 0 30px;
    font-size: 3em;
    text-align: center;
    color: rgba(41, 39, 39, 0.521);
}



.artists-page h5, .albums-page h5{
    font-size: 1.5em;
}

.artists-page .card,
.albums-page .card {
    width: 18rem;
    border-width: 3px;
    border-color: #eec18d;
}

button:hover {
    color:#61053F
}
a:hover {
    color:#61053F
}


/* .albums-page .card{
    background-color: rgb(250, 180, 177);
} */

/* TRACKS VIEW */

.tracks-page ul {
    list-style: none;
}

.tracks-page,
.profile-page {
    background-color: rgb(230, 235, 240);
    padding: 20px;
}

.tracks-page h2,
.profile-page h2 {
    padding: 30px 0 30px 30px;
    margin-bottom: 20px;
    font-size: 3em;
    text-align: center; 
    color: rgb(44, 51, 50);
}

/* TRACKS SEARCH VIEW */

.tracks-search-page .card{
    border-color: rgb(137, 199, 188);
    border-width: 3px;
}

/* PROFILE VIEW */

.profile-page .card{
    border-color: rgba(98, 32, 70, 0.541);
    border-width: 3px;
}

.ver-letra a:hover{
    background-color: rgb(98,32,70,0.5)
}

.ver-letra a{
    background-color:rgb(137, 199, 188);
}


.tracks-search-page a:hover{
    background-color:rgba(98,32,70,0.5)
}

.add-favorite button{
    background-color: rgba(255, 192, 46, 0.486);
}
.add-favorite button:hover{
    background-color:rgba(98,32,70,0.5)
}


/* LYRIC-PAGE */

.lyric-page{
    height: 95vh;
    background-image: url(../images/img-micro.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.lyric-page-name-artist {
    background-color:#ffffff83;
    width: 500px;
    height: 500px;
}

.lyric-page h2 {
    padding: 30px 0 0 30px;
    font-size: 3em;
    text-align: center;
    color: rgb(235, 230, 233);
}

.lyric-not-found{
    height: 550px;
    width: 500px;
    background-color: rgba(255, 255, 255, 0.521);
    display:flex;
    align-items: center;
    justify-content: center;
    padding:50px; 
}

.error-msg{
    color: white;
    font-size: 2em;
}



.flex-equal>* {
    flex: 1;
} 

/* @media (min-width: 768px) {
    .flex-md-equal>* {
        flex: 1;
    }
}

/* SIGNUP & LOGIN VIEW */

.signup-page,
.login-page {
height: 90vh;
background-color: rgb(198,232,226);
color: white;
}

.container-signup {
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    background-image: url(../images/bg-auriculares.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container-login{
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    background-image: url(../images/bg-luces.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container-register,
.container-acceso{
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 500px;
    background-color: rgba(0,0,0,0.5) !important;
    border: 1px black solid;
    }
    
.signup-page form,
.login-page form {
    height: 200px
}

.signup-page span,
.login-page span {
    padding: 10px;
    color: white;
    font-size: 25px;
}

.signup-page button,
.login-page button {
    height: 40px;
    width: 100px;
}

.user-password-labels input{
    width: 350px;
    height: 40px;
    border-radius: 20px;
}

.user-password-labels{
    margin: 0 35px 0 35px;  
}

.signup-page .title,
.login-page .title {
    height:90px;
}
.signup-page h2,
.login-page h2 { 
    color: white
}
.signup-page a,
.login-page a{
    color: rgb(194, 177, 177);
    text-decoration: none;
}
.signup-page a:hover,
.login-page a:hover{
    color: rgb(248, 248, 248);
}