* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif

}

/* body {
  min-height: 90vh; 
} */


.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.container {
    max-width: 960px;
}

/* Layaut */

.site-header {
    background-color: #61053F;
   /*  position: fixed; */
/*     -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px) */;
}

.site-header a {
    color: rgb(214, 214, 214);
    text-decoration: none;
    /* transition: color .15s ease-in-out; */
}

.site-header a:hover {
    color: #fff;
    text-decoration: none;
}

/* INDEX VIEW */

/* .ppal-page {
    height: 90vh;

} */

.index-description {
    background-image: url(../images/bg-luces.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.index-description h1{
    font-size: 82px;
    font-family:Georgia, 'Times New Roman', Times, serif
}

.index-description p {
    font-size: 27px;
}
.index-page {
    background-image: url(../images/bg-auriculares.jpeg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

}

/* .index-search{
    background-image: url(../images/abstract-yellow.jpeg);
    background-size: cover;
} */

/* .index-login {
  background-color: #FFD399;
} */

/* SEARCH VIEW */
.search-page{
        
        background-image: url(/images/bg-abstract-blue.jpeg);
        height: 90vh;
        background-size: cover;
        color:rgb(98,32,70);
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items:center;
      }

.search-page form {
    padding: 30px;

}
.search-page input{
    width: 400px;
    height: 50px;
    border-radius: 20px;
}

.search-page h2{
    font-size: 62px;
}

.search-page button{
    width: 200px;
    height: 50px;
}
      
      /* .pag-ppal a{
        border: 1px solid black;
        margin: 30px;
      }
      .pag-ppal h1{
        font-size: 8em;
      } */
      

/* ARTISTS VIEW */
.artists-page  {
background-color: rgb(46,51,56);
padding: 20px;
}

.artists-page h2, .albums-page h2, .tracks-page h2, .lyric-page h2 {
    padding: 30px 0 0 30px;
    font-size: 3em;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}
.artists-page h5, .albums-page h5{
    font-size: 1.5em;
}

.card {
    width: 18rem;
}

.albums-page{
    background-color:rgb(46,51,56);
    padding: 20px;
}

/* .albums-page .card{
    background-color: rgb(250, 180, 177);
} */

/* TRACKS VIEW */

.tracks-page ul {
    list-style: none;
}

.tracks-page {
    background-color: rgb(46,51,56);
    padding: 20px;
}

.tracks-page h2 {
    padding: 30px 0 30px 30px;
    margin-bottom: 20px;
    font-size: 3em;
    text-align: center; 
    color: rgb(198, 232, 226);
}

/* LYRIC-PAGE */

.lyric-page{
    height: 95vh;
}


/* .product-device {
    position: absolute;
    right: 10%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    background-color: #333;
    border-radius: 21px;
    transform: rotate(30deg);
}

.product-device::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
} */

/* .product-device-2 {
    top: -25%;
    right: auto;
    bottom: 0;
    left: 5%;
    background-color: #e5e5e5;
} */



.flex-equal>* {
    flex: 1;
}

@media (min-width: 768px) {
    .flex-md-equal>* {
        flex: 1;
    }
}